.addform{
width: 80%;
margin: 0 auto;
}
.formlabel{
display: grid;
grid-template-columns: 20% 10% 70%;
align-items: baseline;
}
input{
    padding: 7px;
    border-radius: 10px;
}

@media screen and (max-width:650px) {
    
    .formlabel{
        grid-template-columns: 100%;
    }
    .formlabel span:nth-child(2){
        
        display: none;
    }
}